<%# footer %>

<section id ="footer">
  <div class= "footer">
    <div class="row">
      <div class="col" style = "margin-top: 15px; margin-bottom: 15px;">
          <h6 style = "color: #46b3e6">Passenger Cars</h6>
      </div>
          <div class="col" style = "margin-top: 15px; margin-bottom: 15px;">
            <h6 style = "text-align: right"><a class="link-help" href="#header">Up <i class="fas fa-chevron-circle-up"></i></a></h6>
          </div>
      </div>
    <hr>
    <div style = "margin: 0px 0px 5px 0px;">
      <h6 style = "color: white;">Mercedes Benz on Social Media:</h6>
      <br />
      <br />
      <div class="social">
     <i class="social-icon fab fa-facebook-f"></i>
     <i class="social-icon fab fa-twitter"></i>
     <i class="social-icon fab fa-instagram"></i>
     <i class="social-icon fas fa-envelope"></i>
     </div>
     </div>
     <br />
     <br />
    <hr>
    <div class="row">

      <!-- col-1 -->

      <div class="col-2">
        <ul style="list-style-type: none;">
          <li><a class = "main-footer-link" href="#">About us</a></li>
          <br />
          <br />
          <li><a class = "footer-link" href="#">Contact Us</a></li>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <li><a class = "main-footer-link" href="#">Annual Return</a></li>
          <li><a class = "footer-link" href="#">Extract of Annual Return</a></li>
        </ul>

      </div>


        <!-- col -2 -->


      <div class="col-2">
        <ul style="list-style-type: none;">
          <li><a class = "main-footer-link" href="#">Online Services</a></li>
          <br />
          <br />
          <li><a class = "footer-link" href="#">Dealer Search</a></li>
          <br />
          <li><a class = "footer-link" href="#">Book a Test Drive</a></li>
          <br />
          <li><a class = "footer-link" href="#">Book Service Appointment</a></li>
          <br />
          <li><a class = "footer-link" href="#">Pre-owned Cars</a></li>
          <br />
          <br />
          <br />
          <br />
          <li><a class = "main-footer-link" href="#">Notice of 25th AGM</a></li>
        </ul>

      </div>

      <!-- col-3 -->

      <div class="col-2" class = "colu">
        <ul style="list-style-type: none;">
          <li><a class = "main-footer-link" href="#">Purchase Advice</a></li>
          <br />
          <br />
          <li><a class = "footer-link" href="#">Online Service Estimate</a></li>
          <br>
          <li><a class = "footer-link" href="#">Accesories Configurator</a></li>
          <br />
          <li><a class = "footer-link" href="#">Service Package</a></li>
          <li style ="color: white">configurater</li>
          <br />
          <li><a class = "footer-link" href="#">Advance Assurance</a></li>
          <li style ="color: white">program</li>
        </ul>
      </div>


            <!-- col-4 -->

        <div class="col-2">
          <ul style="list-style-type: none;">
           <li><a class = "main-footer-link" href="#">DFSI</a></li>
            <br />
            <br />
            <li><a class = "footer-link" href="#">Grieveance Redressal</a></li>
            <br>
            <li><a class = "footer-link" href="#">Fair Practice Code</a></li>
            <br />
            <li><a class = "footer-link" href="#">Corporate Governance</a></li>
            <li style ="color: white">Policy</li>
            <br />
            <li><a class = "footer-link" href="#">Ombudsman Scheme For</a></li>
            <li style ="color: white">NBFC</li>
            </ul>
        </div>

        <!-- col-5 -->

        <div class="col-2">
          <ul style="list-style-type: none;">
            <br />
            <br />
            <br />
            <li><a class = "footer-link" href="#">Nodal Officer DFSI</a></li>
            <br>
            <li><a class = "footer-link" href="#">CSR Policy</a></li>
            <br />
            <li><a class = "footer-link" href="#">Interest Rate Model</a></li>
            </ul>
        </div>

        <div class="col-2">
          <ul style="list-style-type: none;">
            <li><a class = "main-footer-link" href="#">CSR Policy</a></li>
            <br />
            <br />
            <li><a class = "footer-link" href="#">CSR Policy</a></li>
            </ul>
        </div>
</div>
</section>
<div class = "footer-foot">
  <h6>© Copyright 2018 Mercedes-Benz India Pvt. Ltd. All Rights Reserved(Provider)</h6>
</div>
</body>

</html>
