<%- include("partials/header") %>

<div class = "about">

  <img src=images\mercedes_logos_PNG29.png class ="about-image" alt="">


<h1 class = "about-heading">About Us</h1>

<br />
<br />

<ul>
  <li>
  <p>
    Mercedes-Benz is a German global automobile marque and a division of Daimler AG. Mercedes-Benz is known for luxury vehicles, vans, trucks, buses, coaches and ambulances. The headquarters is in Stuttgart, Baden-Württemberg. The name first appeared in 1926 under Daimler-Benz. In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.[4]

    Mercedes-Benz origins' come from Daimler-Motoren-Gesellschaft's 1901 Mercedes and Karl Benz's 1886 Benz Patent-Motorwagen, which is widely regarded as the first gasoline-powered automobile. The slogan for the brand is "the best or nothing"
  </p>
  </li>

  <li>
    <p>

    Mercedes is to open its sixth battery factory in 2018, which makes it a tough competitor to Tesla, Inc. The six factories will be established across 3 continents.


    Mercedes-Benz EQC
    The brand has also planned to launch its electric EQ brand with the EQC SUV being set for production in the year 2019. In September 2018, Mercedes unveiled the EQC, its first fully electric car, at an event in Stockholm.[79][80]

    2022 will be the year in which Daimler has said that the company will have invested $11 billion to ensure that every Mercedes-Benz has a fully electric or hybrid version available on the market.[81]

    While releasing details of the project, Markus Schäfer said,

    "Our electric vehicles will be built in six plants on three continents. We address every market segment: from the smart fortwo seater, to the large SUV. The battery is the key component of e-mobility. As batteries are the heart of our electric vehicles we put a great emphasis on building them in our own factories. With our global battery network we are in an excellent position: As we are close to our vehicle plants we can ensure the optimal supply of production. In case of a short-term high demand in another part of the world our battery factories are also well prepared for export. The electric initiative of Mercedes-Benz Cars is right on track. Our global production network is ready for e-mobility. We are electrifying the future."[82] After Audi declared that it would cut more than 9,000 jobs by 2025, the owner of Mercedes-Benz announced that the company will shed around 10,000 jobs worldwide to focus on electric cars
    </p>
  </li>
</ul>


</div>
<%- include("partials/footer") %>
